<plex-layout>
    <plex-layout-main>
        <header>
            <plex-title [titulo]="title">
                <plex-button label="VOLVER" type="danger" size=sm (click)="volver()" class="mr-1"></plex-button>
                <plex-button label="GUARDAR" type="success" size=sm (click)="save()"></plex-button>
            </plex-title>
        </header>

        <plex-grid type="auto" size="md" cols="3">

            <plex-text label="Nombre" [(ngModel)]="nombre" placeholder="Ingrese el nombre del insumo" name="nombre"
                [required]="true" class="mx-2"></plex-text>
            <plex-select [(ngModel)]="tipo" [data]="opciones" name="tipo" label="Tipo:" [required]="true"
                         labelField="nombre" class="mx-2"></plex-select>
            <plex-bool [(ngModel)]="check" class="mx-2 pt-4" type=slide label="Requiere especificacion"
                       name="requiereEspecificacion"></plex-bool>
            <plex-bool *ngIf="tipo?.id == 'magistral'" [(ngModel)]="checkUnidadMedida" class="mx-2 pt-4" type=slide
                       label="Requiere unidad de medida" name="requiereUnidadMedida"></plex-bool>
            <plex-select *ngIf="checkUnidadMedida" [(ngModel)]="unidadMedida" [data]="opcionesUnidadMedida"
                         name="unidadMedida" label="Unidad de medida:" [required]="true" labelField="nombre"
                         class="mx-2"></plex-select>
            <plex-text label="Observaciones" [(ngModel)]="observaciones" name="observaciones" class="mx-2"></plex-text>

        </plex-grid>

        <plex-title titulo="Códigos" size="sm">
            <plex-button label="AGREGAR CÓDIGO" type="success" size="sm" (click)="addCodigo()"
                [disabled]="!puedeAgregarCodigo"></plex-button>
        </plex-title>

        <plex-grid *ngFor="let cod of codigos; let i = index" type="auto" size="md" cols="3">
            <plex-select [(ngModel)]="cod.fuente" [data]="fuentes" name="fuente-{{i}}" label="Fuente:" [required]="true"
                labelField="nombre" class="mx-2"></plex-select>
            <plex-text label="Valor" [(ngModel)]="cod.valor" name="valor-{{i}}" [required]="true"
                class="mx-2"></plex-text>
            <plex-button *ngIf="codigos.length > 1" type="danger" icon="delete" (click)="removeCodigo(i)"
                class="botonRemover"></plex-button>
        </plex-grid>
    </plex-layout-main>
</plex-layout>