<plex-layout main="7">
    <plex-layout-main>
        <div class="row">
            <div class="col-12">
                <plex-text (change)="loadPacientes()" [(ngModel)]="documento" name="buscador" placeholder="Ingrese un documento">
                </plex-text>
            </div>
        </div>
        <plex-loader *ngIf="loader" type="ball-beat"></plex-loader>
        <div *ngIf="!resultadoBusqueda?.length && !loader" class="alert alert-default">
            <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de búsqueda
        </div>
        <div class="row">
            <div class="col">
                <table *ngIf="resultadoBusqueda && resultadoBusqueda.length" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Documento</th>
                            <th>Apellido y Nombre</th>
                            <th>Nacimiento</th>
                            <th>Sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover" *ngFor="let paciente of resultadoBusqueda" (click)="seleccionar(paciente)">

                            <td class="text-center">
                                <span *ngIf="paciente?.documento !== ''" class="d-block">{{paciente.documento}}</span>
                                <span *ngIf="paciente?.documento === ''" class="d-block">N/D</span>
                            </td>
                            <td>{{paciente.nombre}}</td>
                            <td>
                                <span *ngIf="paciente.fechaNacimiento !== null">
                                    <span class="d-block">{{paciente.fechaNacimiento | date: 'dd/MM/yyyy'}}</span>
                                </span>
                                <span *ngIf="paciente.fechaNacimiento === null">N/D</span>
                            </td>
                            <td>{{paciente.sexo}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar>
        <!-- Contenedor lateral -->
        <fieldset>
            <legend>Datos del paciente</legend>

            <div *ngIf="!pacienteSeleccionado" class="alert alert-danger">
                <i class="mdi mdi-account-warning"></i> Aún no se ha seleccionado ningún paciente
            </div>
            <div *ngIf="pacienteSeleccionado ">
                <div class="row">
                    <div class="col-md">
                        <plex-badge type="danger" *ngIf="!pacienteApp.activacionApp"> APP SIN ACTIVAR </plex-badge>
                        <plex-badge type="success" *ngIf="pacienteApp.activacionApp"> APP ACTIVADA </plex-badge>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md">
                        <label>Documento</label>
                        <span>{{pacienteApp.documento}}</span>
                    </div>
                    <div class="col-md">
                        <label>Apellido</label>
                        <span>{{pacienteApp.apellido}}</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md">
                        <label>Nombre</label>
                        <span>{{pacienteApp.nombre}}</span>
                    </div>
                    <div class="col-md">
                        <label>Sexo</label>
                        <span>{{pacienteApp.sexo}}</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md">
                        <label>Versión App</label>
                        <span>
                            {{pacienteDevice.app_version}}
                        </span>
                    </div>
                    <div class="col-md">
                        <label>Dispositivo</label>
                        <span>{{pacienteDevice.device_type}}</span>
                    </div>
                </div>

                <fieldset>

                    <legend>Historial de mensajes</legend>
                    <div *ngIf="pacienteSeleccionado && !resultadoMensajes.length" class="alert alert-danger">
                        <i class="mdi mdi-account-warning"></i> No hay mensajes en el historial
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <table *ngIf="pacienteSeleccionado && resultadoMensajes.length" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Fecha</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hover" *ngFor="let mensaje of resultadoMensajes">

                                        <td class="text-center">
                                            {{mensaje.createdAt | date: 'dd/MM/yyyy h:mm:ss'}}
                                        </td>
                                        <td>{{mensaje.phone}}</td>
                                        <td>
                                            {{mensaje.email}}
                                        </td>
                                        <td>{{mensaje.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </plex-layout-sidebar>
</plex-layout>