<plex-layout>
    <plex-layout-main>
        <plex-title [titulo]="titulo">
            <plex-button type="success" (click)="onSave()">GUARDAR</plex-button>
        </plex-title>
        <div class="grow">
            <plex-text label="Nombre orientativo" [(ngModel)]="nombre" name="name">
            </plex-text>
        </div>
        <div class="grow">
            <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="concepto" idField="conceptId"
                         labelField="term + '(' + semanticTag + ')'"></plex-select>
            <plex-button class="align-self-end" type="warning" icon="plus" (click)="onAdd()"></plex-button>
        </div>
        <ng-container *ngFor="let requerido of elemento.requeridos">
            <hr>
            <div class="row">
                <div class="col-4">
                    <plex-select label="Concepto seccion" (getData)="searchConcept($event)"
                                 [(ngModel)]="requerido.concepto" idField="conceptId"
                                 labelField="term + '(' + semanticTag + ')'"></plex-select>
                    <ng-container *ngIf="requerido.concepto">
                        <strong> {{ requerido.concepto.conceptId }} </strong> | {{ requerido.concepto.term }}
                    </ng-container>
                </div>
                <div class="col-8">
                    <plex-wrapper>
                        <plex-bool label="Texto libre" [(ngModel)]="requerido.params.showText"></plex-bool>
                        <plex-bool label="Texto libre Requerido" [(ngModel)]="requerido.params.textRequired">
                        </plex-bool>
                        <plex-bool label="Al menos un registro" [(ngModel)]="requerido.params.conceptsRequired">
                        </plex-bool>
                        <!-- <plex-bool label="Al menos un registro" [(ngModel)]="requerido.params.conceptsRequired"></plex-bool> -->
                        <plex-text label="icono" [(ngModel)]="requerido.params.icon"></plex-text>
                        <plex-radio label="Layout" [(ngModel)]="requerido.params.direction" [data]="directionType"
                                    type="horizontal" name="params-type"></plex-radio>
                    </plex-wrapper>
                </div>
            </div>
        </ng-container>
    </plex-layout-main>
</plex-layout>