<plex-layout>
    <plex-layout-main>
        <plex-title [titulo]="titulo">
            <plex-button type="danger" (click)="volver()">VOLVER</plex-button>
            <plex-button type="success" (click)="onSave()" [disabled]="!concepto">GUARDAR
            </plex-button>
        </plex-title>
        <div class="grow">
            <plex-text label="Nombre orientativo" [(ngModel)]="nombre" name="name">
            </plex-text>
        </div>
        <div class="grow">
            <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="concepto" idField="conceptId"
                         labelField="term + '(' + semanticTag + ')'">
            </plex-select>
        </div>
        <div class="grow">
            <plex-bool label="Carga de plantillas" type="slide" [(ngModel)]="habilitarPlantilla">
            </plex-bool>
        </div>
        <div class="row">
            <div class="col-12">
                <plex-title titulo="Requeridos"></plex-title>
                <div class="grow">
                    <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="requerido"
                                 idField="conceptId" labelField="term + '(' + semanticTag + ')'"></plex-select>
                    <plex-button class="align-self-end" type="warning" icon="plus" (click)="onAddRequerido()">
                    </plex-button>
                </div>
                <plex-list>
                    <plex-item
                               *ngFor="let requerido of elemento.requeridos;let i = index; let first$ = first; let last$ = last">
                        <plex-label [titulo]="requerido.concepto.conceptId"></plex-label>
                        <plex-label [titulo]="requerido.concepto.term" [tituloBold]="false"></plex-label>
                        <plex-label [titulo]="getComponente(requerido.concepto)" [tituloBold]="false"></plex-label>
                        <plex-button type="danger" icon="delete" size="sm" (click)="onRemoveRequerido(i)"></plex-button>
                        <ng-container ngProjectAs="plex-button">
                            <div class="d-flex flex-column">
                                <plex-button type="info" icon="flecha-arriba" size="sm" (click)="onUpRequerido(i)"
                                             *ngIf="!first$">
                                </plex-button>
                                <plex-button type="info" icon="flecha-abajo" size="sm" (click)="onDownRequerido(i)"
                                             *ngIf="!last$">
                                </plex-button>
                            </div>
                        </ng-container>
                    </plex-item>
                </plex-list>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>