<plex-layout>
    <plex-layout-main>
        <plex-title [titulo]="titulo">
            <plex-button type="success" (click)="onSave()">GUARDAR</plex-button>
        </plex-title>
        <div class="grow">
            <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="concepto" idField="conceptId"
                         labelField="term + '(' + semanticTag + ')'" [readonly]="!!id"></plex-select>
        </div>
        <div class="row">
            <div class="col-6">
                <plex-title titulo="Requeridos"></plex-title>
                <div class="grow">
                    <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="requerido"
                                 idField="conceptId" labelField="term + '(' + semanticTag + ')'"></plex-select>
                    <plex-button class="align-self-end" type="warning" icon="plus" (click)="onAddRequerido()">
                    </plex-button>
                </div>
                <plex-list>
                    <plex-item *ngFor="let requerido of elemento.requeridos">
                        <plex-label [titulo]="requerido.concepto.conceptId"></plex-label>
                        <plex-label [titulo]="requerido.concepto.term" [tituloBold]="false"></plex-label>
                    </plex-item>
                </plex-list>
            </div>
            <div class="col-6">
                <plex-title titulo="Sugeridos"></plex-title>
                <div class="grow">
                    <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="sugerido"
                                 idField="conceptId" labelField="term + '(' + semanticTag + ')'"></plex-select>
                    <plex-button class="align-self-end" type="warning" icon="plus" (click)="onAddSugerido()">
                    </plex-button>
                </div>
                <plex-list>
                    <plex-item *ngFor="let concepto of elemento.frecuentes">
                        <plex-label [titulo]="concepto.conceptId"></plex-label>
                        <plex-label [titulo]="concepto.term" [tituloBold]="false"></plex-label>
                    </plex-item>
                </plex-list>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>