<plex-layout [main]='(webHook.method) ? "8": "12"'>
    <plex-layout-main>
        <plex-title titulo="Webhooks">
            <plex-button label="Nuevo" type="primary" (click)="nuevo()"></plex-button>
        </plex-title>
        <div class="d-flex justify-content-between align-items-end">
            <plex-text label="Filtrar (Nombre)" name="name" [(ngModel)]="filtro" class="w-100"
                       (change)="filtrarPorNombre($event.value)">
            </plex-text>
        </div>
        <div class="row">
            <div class="col">
                <table class="table-lista-webhook table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2"
                           [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                        <tr class="hover" *ngFor="let item of webHooks">
                            <td>
                                {{ item.name }}
                                <plex-button class="float-right" type="success" size='sm' icon="pencil"
                                             (click)="editar(item.id)"></plex-button>
                                <plex-button class="float-right" icon="trash-can" type="danger" size='sm'
                                             (click)="borrar(item)"></plex-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar>
        <plex-title main titulo="Complete los datos" size="sm">
            <plex-button label="Cancelar" type="danger" (click)="cerrar()" size="sm">
            </plex-button>
            <plex-button class="float-right" *ngIf="webHook.name" size="sm" label="Guardar" type="success"
                         (click)="creaModificaWebhook(webHook)"></plex-button>
        </plex-title>

        <div class="row">
            <div class="col">
                <plex-text required label="Nombre" [(ngModel)]="webHook.name" name="name"></plex-text>
                <plex-text label="Event" [(ngModel)]="webHook.event" name="event"></plex-text>
                <plex-text label="Url" [(ngModel)]="webHook.url" name="url"></plex-text>
                <plex-select required [(ngModel)]="webHook.method" name="select" [data]="opciones" labelField="nombre"
                             label="Seleccione metodo">
                </plex-select>
                <plex-select [(ngModel)]="webHook.trasform" name="select" [data]="opcionesTrasform" labelField="nombre"
                             label="Seleccione transform">
                </plex-select>
                <plex-bool label="Activo" [(ngModel)]="webHook.active" type="slide" name="active"></plex-bool>
            </div>
        </div>
    </plex-layout-sidebar>
</plex-layout>