<plex-layout [main]="elementoSeleccionado ? 8 : 12">
    <plex-layout-main>
        <header>
            <div style="border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 10px;">
                <plex-title titulo="Elementos RUP">
                    <plex-button type="danger" size="sm" [routerLink]="['/monitoreo/home']">VOLVER</plex-button>
                    <plex-dropdown size="sm" type="info" [right]="true" [items]="items" label="NUEVO">
                    </plex-dropdown>
                </plex-title>
            </div>
            <rup-filtros-elementos-rup></rup-filtros-elementos-rup>
        </header>

        <plex-title titulo="Listado de elementos RUP">
            <plex-badge *ngIf="cantidadElementos > 0" size="lg" type="info" class="mr-1">
                <span class="font-bold text-lg"> CANTIDAD DE ELEMENTOS: {{ cantidadElementos }} </span>
            </plex-badge>
        </plex-title>


        <plex-table [columns]="columns">
            <plex-table-columns>
            </plex-table-columns>


            <tr *ngFor="let elemento of (elementosRup$ | async)" [height]="600"
                [class.selected]=" elemento===elementoSeleccionado" (click)="seleccionar(elemento)"
                [class.selectable]="true">
                <td *plTableCol="'col-1'">{{ elemento.nombre ? elemento.nombre : 'S/N' }}</td>
                <td *plTableCol="'col-2'">{{ elemento.conceptos[0]?.term }}</td>
                <td *plTableCol="'col-3'">{{ elemento.componente }}</td>
                <td *plTableCol="'col-4'">{{ elemento.tipo }}</td>
                <td *plTableCol="'col-5'">{{ elemento.requeridos?.length || 0 }}</td>

            </tr>
        </plex-table>

    </plex-layout-main>

    <!-- Sidebar lateral -->
    <plex-layout-sidebar type="invert" *ngIf="elementoSeleccionado" class="sidebar-fijo">
        <plex-title justify titulo="DETALLE DEL ELEMENTO " size="md">
            <ng-container [ngSwitch]="elementoSeleccionado.tipo">
                <plex-button *ngSwitchCase="'molecula'" type="warning" tooltip="editar" icon="pencil" size="sm"
                    [routerLink]="['molecula', elementoSeleccionado.id]">
                </plex-button>
                <plex-button *ngSwitchCase="'seccion'" type="warning" tooltip="editar" icon="pencil" size="sm"
                    [routerLink]="['seccion', elementoSeleccionado.id]">
                </plex-button>
                <plex-button *ngSwitchCase="'prestacion'" type="warning" tooltip="editar" icon="pencil" size="sm"
                    [routerLink]="['prestacion', elementoSeleccionado.id]">
                </plex-button>
                <plex-button *ngSwitchDefault type="warning" tooltip="editar" icon="pencil" size="sm"
                    [routerLink]="['atomo', elementoSeleccionado.id]">
                </plex-button>
            </ng-container>
            <plex-button type="danger" tooltip="cerrar" size="sm" icon="close" ariaLabel="cerrar panel lateral"
                (click)="elementoSeleccionado = null">
            </plex-button>
        </plex-title>


        <plex-detail size="md">
            <plex-icon type="info" name="information-variant"></plex-icon>
            <div title> Registrar los signos vitales del paciente </div>
            <plex-label titulo="Fecha creación"
                [subtitulo]="elementoSeleccionado?.createdAt ? (elementoSeleccionado.createdAt | date: 'dd-MM-yyyy HH:mm') : '-'"></plex-label>
            <plex-label titulo="Usuario/a que creó" [subtitulo]="elementoSeleccionado.createdBy?.nombreCompleto || '-'">
            </plex-label>
            <plex-label titulo="Ultima edición"
                [subtitulo]="elementoSeleccionado?.updatedAt ? (elementoSeleccionado.updatedAt | date: 'dd-MM-yyyy HH:mm') : '-'"></plex-label>
            <plex-label titulo="Componente" [subtitulo]="elementoSeleccionado.componente"></plex-label>
            <plex-label titulo="Tipo" [subtitulo]="elementoSeleccionado.tipo"></plex-label>
        </plex-detail>

        <plex-title justify titulo="CONCEPTOS APLICADOS " size="md"></plex-title>
        <plex-accordion [multiple]="false" activeLast="true" class="mt-2 hover listado list-unstyled">


            <plex-panel>
                <div plex-accordion-title case="capitalize">
                    <div class="text-center" style="font-style: italic; font-size: 1rem;">
                        {{ elementoSeleccionado.conceptos?.length || 0 }} conceptos aplicados
                    </div>
                </div>
                <div class="list-group">
                    <div *ngFor="let concepto of elementoSeleccionado.conceptos" class="sm mb-2">


                        <div>
                            <p class="mb-0 small">{{ concepto.term }}</p>
                        </div>

                    </div>
                </div>


            </plex-panel>
        </plex-accordion>

        <plex-title justify titulo="ÁTOMOS Y MOLÉCULAS VINCULADOS " size="md"></plex-title>

        <plex-accordion [multiple]="false" activeLast="true">
            <plex-panel>
                <div plex-accordion-title justify>
                    <div class="text-center" style="font-style: italic; font-size: 1rem;">
                        {{ elementoSeleccionado.requeridos?.length || 0 }} átomos aplicados
                    </div>
                </div>
                <div class="list-group">
                    <div *ngFor="let requerido of elementoSeleccionado.requeridos" class="sm mb-2">

                        <div>
                            <p *ngIf="requerido.concepto?.term" class="mb-0 small">
                                {{ requerido.concepto?.term }} </p>
                        </div>
                    </div>
                </div>
            </plex-panel>
        </plex-accordion>
    </plex-layout-sidebar>
</plex-layout>