<plex-layout>
    <plex-layout-main>
        <header>
            <plex-title titulo="Elementos RUP">
                <plex-dropdown size="sm" type="info" [right]="true" [items]="items" label="NUEVO">
                </plex-dropdown>
            </plex-title>
            <rup-filtros-elementos-rup></rup-filtros-elementos-rup>
        </header>
        <plex-list>
            <plex-heading>
                <b label>Nombre</b>
                <b label>Concepto</b>
                <b label>Componente</b>
                <b label>Tipo</b>
                <b label>Requeridos</b>
                <b button></b>
            </plex-heading>
            <plex-item *ngFor="let elemento of elementosRup$ | async">
                <plex-label titulo="{{ elemento.nombre }}"> </plex-label>
                <plex-label titulo="{{ elemento.conceptos[0].term }}"> </plex-label>
                <plex-label titulo="{{ elemento.componente }}" [tituloBold]="false"> </plex-label>
                <plex-label titulo="{{ elemento.tipo }}" [tituloBold]="false"> </plex-label>
                <plex-label [tituloBold]="false"> {{ elemento.requeridos?.length || 0 }} </plex-label>

                <plex-button type="success" style="display: none;">hola</plex-button>
                <ng-container [ngSwitch]="elemento.componente" ngProjectAs="plex-button">
                    <plex-button *ngSwitchCase="'MoleculaBaseComponent'" type="warning" icon="pencil" size="sm"
                                 [routerLink]="['molecula', elemento.id]">
                    </plex-button>
                    <plex-button *ngSwitchCase="'SeccionadoComponent'" type="warning" icon="pencil" size="sm"
                                 [routerLink]="['seccion', elemento.id]">
                    </plex-button>
                    <plex-button *ngSwitchCase="'PRESTACION'" type="warning" icon="pencil" size="sm"
                                 [routerLink]="['prestacion', elemento.id]">
                    </plex-button>
                    <plex-button *ngSwitchDefault type="warning" icon="pencil" size="sm"
                                 [routerLink]="['atomo', elemento.id]">
                    </plex-button>
                </ng-container>
                <plex-button type="danger" size="sm" icon="delete" tooltip="Eliminar"
                             (click)="removeElemento(elemento)">
                </plex-button>
            </plex-item>
        </plex-list>
    </plex-layout-main>
</plex-layout>