<plex-layout main="12">
    <plex-layout-main>
        <plex-title titulo="Buscador de conceptos SNOMED">
        </plex-title>
        <plex-text [(ngModel)]="searchTerm" name="searchTerm" [debounce]="600" (change)="buscarConcepto()"
                   placeholder="Buscar un concepto..." [autoFocus]="true"></plex-text>
        <plex-list *ngIf="conceptos" [striped]="true">
            <plex-heading [sticky]="true">
                <b label>ID de Concepto</b>
                <b label>Nombre</b>
                <b></b>
            </plex-heading>
            <ng-container *ngFor="let concepto of conceptos">
                <plex-item class="hover">
                    <plex-label class="text-capitalize">{{ concepto.conceptId }}</plex-label>
                    <plex-label class="text-capitalize">{{ concepto.term }}</plex-label>
                    <plex-badge type="buscador">{{ concepto.semanticTag }}</plex-badge>
                </plex-item>
            </ng-container>
        </plex-list>
    </plex-layout-main>
    <plex-layout-sidebar>
    </plex-layout-sidebar>
</plex-layout>