<plex-layout main={{main}}>
    <plex-layout-main>
        <header>
            <plex-title size="lg" titulo="Servicios Conectados a WebHook"></plex-title>
        </header>
        <form #formulario="ngForm">
            <fieldset>
                <div class="row">
                    <div class="col-md">
                        <plex-text label="Filtrar" name="buscar" [(ngModel)]="textoBuscar" (change)="loadData()"
                                   (disabled)='false'></plex-text>
                    </div>
                    <div class="col-md-3">
                        <plex-datetime label="Desde" [(ngModel)]="fechaI" name="fechaI" type="datetime"
                                       (change)="loadData()"></plex-datetime>
                    </div>
                    <div class="col-md-3">
                        <plex-datetime label="hasta " [(ngModel)]="fechaF" name="fechaF" type="datetime"
                                       (change)="loadData()"></plex-datetime>
                    </div>
                </div>
            </fieldset>
        </form>
        <plex-scroll (change)="loadData(true)"></plex-scroll>
        <div *ngIf="listMostrar.length != 0;else mostrarVacio">
            <plex-list [striped]="true" height="70%">
                <plex-heading>
                    <b label *ngFor="let c of listFiltrar" class="col-md-3">{{c.nombre}}</b>
                    <b badge class="col-md-2">Status</b>
                </plex-heading>
                <ng-container *ngFor="let e of listMostrar">
                    <plex-item class="hover text-md-center" [botonera]="false" (click)="seleccionarElem(e)">
                        <plex-label class="col-md-3">{{e.updatedAt | date: 'dd/MM/yyyy  hh:mm:ss'}} </plex-label>
                        <plex-label class="col-md-3">{{e.event}}</plex-label>
                        <plex-label class="col-md-3">{{e.url}}</plex-label>
                        <plex-badge class="col-md-2">{{e.status}}</plex-badge>
                    </plex-item>
                </ng-container>
            </plex-list>
            <div *ngIf="finScroll" class="alert alert-warning text-left col-md">
                <p> No se encontraron más resultados </p>
            </div>
        </div>
        <ng-template #mostrarVacio>
            <div class="sinDatos">
                <label>No hay datos para mostrar</label>
            </div>
        </ng-template>
    </plex-layout-main>

    <plex-layout-sidebar>
        <div class="d-flex align-items-justify" justify>
            <div *ngIf="elemElegido != null;else elseSinDatos">
                <plex-title titulo="Descripción" size="sm" main></plex-title>
                <plex-detail size="lg" *ngIf="elemElegido.status">
                    <div title>Fecha</div>
                    <div subtitle>{{elemElegido.updatedAt | date:'dd/MM/yyyy hh:mm:ss' }}</div>
                </plex-detail>

                <div scope="row">
                    <div class="text-left col-md">
                        <div *ngIf="elemElegido.status" size="lg">
                            <plex-label titulo="Status"></plex-label>
                            <plex-label [tituloBold]=" false" [titulo]="elemElegido.status"></plex-label>
                        </div>
                        <br>
                        <div *ngIf="elemElegido.event">
                            <plex-label titulo="Event "></plex-label>
                            <plex-label [tituloBold]=" false" [titulo]="elemElegido.event"></plex-label>
                        </div>
                        <br>
                        <div *ngIf="elemElegido.method">
                            <plex-label titulo="Method"></plex-label>
                            <span>{{elemElegido.method}}</span>
                        </div>
                        <br>
                        <div *ngIf="elemElegido.method">
                            <plex-label titulo="URL"></plex-label>
                            <span>{{elemElegido.url}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseSinDatos>
                <div class="sinDatos" class="text-left col-md">
                    <label>No hay datos para mostrar</label>
                    <p>Elja un dato de la lista para ver detalles.</p>
                </div>
            </ng-template>
        </div>
    </plex-layout-sidebar>
</plex-layout>