
<form #form="ngForm">
    <div class="row flex-column">
        <div class="col-12">
            <plex-int *ngIf="argumento.tipo === 'integer'" [label]="argumento.label" [(ngModel)]="argumento.valor"
                      [name]="argumento.nombre" [required]="true"> </plex-int>
            <plex-float *ngIf="argumento.tipo === 'float'" [label]="argumento.label" [(ngModel)]="argumento.valor"
                        [name]="argumento.nombre" [required]="true"> </plex-float>
        </div>
    </div>
</form>
