<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Ejecutar consultas">
            <plex-button size="sm" type="success" (click)="descargar($event)" [validateForm]="formulario">
                Descargar CSV
            </plex-button>
        </plex-title>
        <form #formulario="ngForm">
            <plex-wrapper>
                <plex-select [(ngModel)]="selectConsulta" name="select" [data]="listaFiltro" [required]="false"
                             labelField="nombre" label="Seleccione consulta" (change)="elegirConsulta()" idField="_id">
                </plex-select>
            </plex-wrapper>
            <ng-container *ngIf="selectConsulta; else noQuerySelected">
                <span *ngIf='selectConsulta.descripcion'><b>Descripción: </b> {{ selectConsulta.descripcion }}</span>
                <plex-title titulo="Argumentos"></plex-title>
                <plex-wrapper>
                    <ng-container *ngFor="let argumento of selectConsulta.argumentos" [ngSwitch]="argumento.tipo">
                        <plex-datetime *ngSwitchCase="'date'" [label]="argumento.key" grow="full"
                                       name="{{ argumento.key }}" [(ngModel)]="listaValores[argumento.key]"
                                       [required]="argumento.required">
                        </plex-datetime>
                        <plex-select *ngSwitchCase="'organizacion'" [label]="argumento.key" grow="full"
                                     name="{{ argumento.key }}" [(ngModel)]="listaValores[argumento.key]"
                                     [required]="argumento.required" (getData)="loadOrganizaciones($event)">>
                        </plex-select>
                        <plex-select *ngSwitchCase="'conceptoTurneable'" [label]="argumento.key" grow="full"
                                     name="{{ argumento.key }}" [(ngModel)]="listaValores[argumento.key]"
                                     [required]="argumento.required" (getData)="loadConceptosTurneables($event)">>
                        </plex-select>
                    </ng-container>
                </plex-wrapper>
            </ng-container>
            <ng-template #noQuerySelected>
                <h5>Seleccione una consulta para ejecutarla</h5>
            </ng-template>

        </form>
    </plex-layout-main>
</plex-layout>