<plex-list [striped]="false">
    <ng-container *ngFor="let paciente of listado;let i=index">
        <plex-item [class.pacienteFallecido]="paciente.fechaFallecimiento" [selected]="paciente.id == seleccionado?.id"
                   (click)="seleccionar(paciente)" (mouseenter)="hoverPaciente(paciente)" [colors]="colorItem(i)">

            <plex-label titulo="{{ paciente | nombre }}" subtitulo="{{ paciente.documento }}">
            </plex-label>

            <plex-label titulo="{{ paciente | edad }}"
                        subtitulo="{{ paciente.fechaNacimiento | fecha:(paciente.scan ? 'utc' : '') }}">
            </plex-label>

            <plex-badge type="info">{{ paciente.genero }}
            </plex-badge>

            <plex-badge
                        [ngClass]="{'text-success' : paciente.estado === 'validado' , 'text-warning' : paciente.estado === 'temporal'} ">
                {{ paciente.estado || 'S/D' }}
            </plex-badge>


            <plex-badge *ngIf="paciente.fechaFallecimiento || paciente.fallecimientoManual?.fecha" type="danger"
                        icon="help">
                Fallecido: {{ (paciente.fechaFallecimiento || paciente.fallecimientoManual?.fecha) | fecha }}
            </plex-badge>

        </plex-item>
    </ng-container>
</plex-list>