<plex-layout>
    <plex-layout-main>
        <plex-title [titulo]="titulo">
            <plex-button type="danger" (click)="volver()">VOLVER</plex-button>
            <plex-button type="success" (click)="onSave()" [validateForm]="formulario1 && formulario2"
                         [disabled]="!formulario1.form.valid || (tipoAtomo?.id=='SelectStaticoComponent' && (!formulario2.form.valid || !items.length))">GUARDAR
            </plex-button>
        </plex-title>
        <form #formulario1="ngForm">
            <div class="grow">
                <plex-text label="Nombre orientativo" [(ngModel)]="nombre" name="name" [required]="true">
                </plex-text>
            </div>
            <div class="grow">
                <plex-select label="Concepto" (getData)=searchConcept($event) [(ngModel)]="concepto" idField="conceptId"
                             labelField="term + '(' + semanticTag + ')'" [required]="true" name="concepto">
                </plex-select>
            </div>
            <div class="grow">
                <plex-bool label="Carga de plantillas" type="slide" [(ngModel)]="habilitarPlantilla"
                           name="habilitarPlantilla">
                </plex-bool>
            </div>
            <div>
                <plex-select label="Tipo Atomo" [data]="tipoAtomos" [(ngModel)]="tipoAtomo" [required]="true"
                             name="tipoAtomo"> </plex-select>
            </div>
            <ng-container [ngSwitch]="tipoAtomo?.id">
                <div *ngSwitchCase="'SelectOrganizacionComponent'">

                    <plex-text [(ngModel)]="params.title" label="Titulo/Label" name="params-title"></plex-text>

                    <div justify class="ml-4 mr-4">
                        <plex-bool type="slide" [(ngModel)]="params.multiple" label="Multiple" name="params-multiple">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.required" label="Requerido" name="params-required">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.allowOther" label="Texto libre"
                                   name="params-allowOther">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.preload" label="Precarga los datos"
                                   name="params-preload">
                        </plex-bool>
                    </div>
                </div>

                <div *ngSwitchCase="'SelectProfesionalComponent'">

                    <plex-text [(ngModel)]="params.title" label="Titulo/Label" name="params-title"></plex-text>

                    <div justify class="ml-4 mr-4">
                        <plex-bool type="slide" [(ngModel)]="params.multiple" label="Multiple" name="params-multiple">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.required" label="Requerido" name="params-required">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.allowOther" label="Texto libre"
                                   name="params-allowOther">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.preload" label="Precarga los datos"
                                   name="params-preload">
                        </plex-bool>
                    </div>
                </div>

                <div *ngSwitchCase="'SelectSnomedComponent'">

                    <plex-text [(ngModel)]="params.title" label="Titulo/Label" name="params-title"></plex-text>
                    <plex-text [(ngModel)]="params.query" label="Snomed Query" name="params-query"></plex-text>

                    <div justify class="ml-4 mr-4">
                        <plex-bool type="slide" [(ngModel)]="params.multiple" label="Multiple" name="params-multiple">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.required" label="Requerido" name="params-required">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.allowOther" label="Texto libre"
                                   name="params-allowOther">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.preload" label="Precarga los datos"
                                   name="params-preload">
                        </plex-bool>
                    </div>

                </div>

                <div *ngSwitchCase="'SelectStaticoComponent'">

                    <plex-text [(ngModel)]="params.title" label="Titulo/Label" name="params-title"></plex-text>

                    <div justify class="ml-4 mr-4">
                        <plex-bool type="slide" [(ngModel)]="params.multiple" label="Multiple" name="params-multiple">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.required" label="Requerido" name="params-required">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.allowOther" label="Texto libre"
                                   name="params-allowOther">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.preload" label="Precarga los datos"
                                   name="params-preload">
                        </plex-bool>
                    </div>

                </div>

                <div *ngSwitchCase="'ObservacionesComponent'">

                    <plex-bool type="slide" [(ngModel)]="params.required" label="Requerido" name="params-required">
                    </plex-bool>

                </div>

                <div *ngSwitchCase="'ValorNumericoComponent'">

                    <plex-text [(ngModel)]="params.title" label="Titulo/Label" name="params-title"></plex-text>
                    <div justify class="ml-4 mr-4">
                        <plex-int [(ngModel)]="params.min" label="Minimo" name="params-min"></plex-int>
                        <plex-int [(ngModel)]="params.max" label="Maximo" name="params-max"></plex-int>
                        <plex-text [(ngModel)]="params.unit" label="Unidad" name="params-unit"></plex-text>

                        <plex-radio label="Tipo" [(ngModel)]="params.numericType" [data]="valorNumericoType"
                                    type="horizontal" name="params-type"></plex-radio>
                    </div>
                </div>

                <div *ngSwitchCase="'ChecklistComponent'">

                    <plex-text [(ngModel)]="params.title" label="Titulo/Label" name="params-title"></plex-text>
                    <plex-text [(ngModel)]="params.query" label="Snomed Query" name="params-query"></plex-text>

                    <div justify class="ml-4 mr-4">
                        <plex-bool type="slide" [(ngModel)]="params.multiple" label="Multiple" name="params-multiple">
                        </plex-bool>
                        <plex-bool type="slide" [(ngModel)]="params.required" label="Requerido" name="params-required">
                        </plex-bool>
                        <plex-text [(ngModel)]="params.allowOtherQuery" label="Otros Snomed Query"
                                   name="params-query-otros"></plex-text>

                        <plex-radio label="Horientacion" [(ngModel)]="params.type" [data]="checkOrientacionType"
                                    type="horizontal" name="params-type"></plex-radio>

                    </div>

                </div>

            </ng-container>
        </form>
        <!--Items del SelectStaticoComponent-->
        <form #formulario2="ngForm">
            <section class="mt-2" *ngIf="tipoAtomo?.id=='SelectStaticoComponent'">
                <plex-title titulo="Items de {{nombre}}" size="sm">
                    <plex-button name="nuevoItem" label="Agregar item" type="info" size="sm"
                                 (click)="showAgregarItem = true">
                    </plex-button>
                </plex-title>
                <plex-wrapper justify *ngIf="showAgregarItem">
                    <plex-text columns="4" label="Id" placeholder="Ingrese el id." [(ngModel)]="nuevoItem.id" name="id"
                               [required]="true">
                    </plex-text>
                    <plex-text columns="6" label="Label" placeholder="Ingrese el label." [(ngModel)]="nuevoItem.label"
                               name="label" [required]="true">
                    </plex-text>
                    <plex-button class="pt-4" name="confirmarItem" type="success" icon="plus" size="sm"
                                 tooltip="Agregar" tooltipPosition="left" justify="end"
                                 [disabled]="!nuevoItem?.id?.trim().length || !nuevoItem?.label?.trim().length"
                                 (click)="addItem()">
                    </plex-button>
                </plex-wrapper>
                <plex-list *ngIf="items?.length">
                    <plex-item *ngFor="let item of items; let i = index">
                        <plex-icon name="documento" type="info" size="md"></plex-icon>
                        <plex-label titulo="{{ item.id }}" subtitulo="{{ item.label }}"></plex-label>
                        <plex-button type="danger" size="sm" icon="delete" tooltip="Eliminar" (click)="removeItem(i)">
                        </plex-button>
                    </plex-item>
                </plex-list>
            </section>
        </form>
    </plex-layout-main>
</plex-layout>