<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Elementos RUP">
            <!-- <plex-button type="info" routerLink="seccion/nuevo"> NUEVO </plex-button> -->

            <plex-dropdown size="sm" type="info" [right]="true" [items]="items" label="NUEVO">
            </plex-dropdown>

        </plex-title>
        <plex-list>
            <plex-heading>
                <b label>Concepto</b>
                <b label>Componente</b>
                <b label>Tipo</b>
                <b label>Requeridos</b>
                <b button></b>
            </plex-heading>
            <plex-item *ngFor="let elemento of elementosRup">
                <plex-label titulo="{{ elemento.conceptos[0].term }}"> </plex-label>
                <plex-label titulo="{{ elemento.componente }}" [tituloBold]="false"> </plex-label>
                <plex-label titulo="{{ elemento.tipo }}" [tituloBold]="false"> </plex-label>
                <plex-label [tituloBold]="false"> {{ elemento.requeridos?.length || 0 }} </plex-label>
                <ng-container [ngSwitch]="elemento.componente" ngProjectAs="plex-button">
                    <plex-button *ngSwitchCase="'MoleculaBaseComponent'" type="warning" icon="pencil" size="sm"
                                 [routerLink]="['molecula', elemento.id]">
                    </plex-button>
                    <plex-button *ngSwitchCase="'SeccionadoComponent'" type="warning" icon="pencil" size="sm"
                                 [routerLink]="['seccion', elemento.id]">
                    </plex-button>
                    <plex-button *ngSwitchCase="'PRESTACION'" type="warning" icon="pencil" size="sm"
                                 [routerLink]="['prestacion', elemento.id]">
                    </plex-button>
                    <plex-button *ngSwitchDefault type="warning" icon="pencil" size="sm"
                                 [routerLink]="['atomo', elemento.id]">
                    </plex-button>

                </ng-container>

            </plex-item>
        </plex-list>
    </plex-layout-main>
</plex-layout>