<section>
    <plex-box>
        <div class="text-center">
            <div class="logo"></div>
            <div class="andes-inicio row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div label="Boton Conceptos Turneables" class="boton color-celeste" routerLink="/conceptos-turneables">
                        <i class="icono mdi mdi-account-multiple-outline"></i>
                        <div class="titulo">Conceptos Turneables</div>
                        <div class="subtitulo">Índice Maestro
                            <br>de Conceptos Turneables</div>
                        <div class="detalle">Optimiza el proceso de
                            <br>identificación de conceptos turneables</div>
                    </div>
                </div>
            </div>
        </div>
    </plex-box>
</section>