<section>
    <plex-box>
        <div class="text-center">
            <div class="andes-inicio row">
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="this.auth.check('monitoreo:conceptosTurneables')">
                    <div label="Boton Conceptos Turneables" class="boton color-celeste"
                         routerLink="/conceptos-turneables">
                        <i class="icono mdi mdi-playlist-check"></i>
                        <div class="titulo">Conceptos Turneables</div>
                        <div class="subtitulo">Índice Maestro
                            <br>de Conceptos Turneables
                        </div>
                        <div class="detalle">Optimiza el proceso de
                            <br>identificación de conceptos turneables
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="this.auth.check('monitoreo:webhook')">
                    <div label="Boton WebHook" class="boton color-violeta" routerLink="/webhook">
                        <i class="icono mdi mdi-hook"></i>
                        <div class="titulo">WebHook</div>
                        <div class="subtitulo">Índice Maestro
                            <br>de WebHook
                        </div>
                        <div class="detalle">Optimiza el proceso de
                            <br>identificación de WebHook
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="this.auth.check('monitoreo:monitoreoActivaciones')">
                    <div label="Boton Monitoreo de activaciones" class="boton color-verde"
                         routerLink="/monitor-activaciones">
                        <i class="icono mdi mdi-cellphone-basic"></i>
                        <div class="titulo">Monitoreo de activaciones</div>
                        <div class="subtitulo">Índice Maestro
                            <br>de Monitoreo de Activaciones
                        </div>
                        <div class="detalle">Verifica las activaciones
                            de la app movil</div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="this.auth.check('monitoreo:webhookLog')">
                    <div label="Boton webhooklog" class="boton color-azul-oscuro" routerLink="/webhooklog">
                        <i class="icono mdi mdi-webhook"></i>
                        <div class="titulo">WebhookLog</div>
                        <div class="subtitulo">Índice Maestro
                            <br>de WebhookLog
                        </div>
                        <div class="detalle">Optimiza el proceso de identificación
                            <br>de servicios conectados a WebHook
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="this.auth.check('monitoreo:regenerarCda')">
                    <div label="Boton Regenerar CDA" class="boton color-salmon" routerLink="/cda-regenerar">
                        <i class="icono mdi mdi-refresh"></i>
                        <div class="titulo">Regenerar CDA</div>
                        <div class="subtitulo">Índice Maestro
                            <br>de Regenerar CDAs
                        </div>
                        <div class="detalle">Regenerar los CDA de un paciente </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div label="Boton Regenerar CDA" class="boton color-salmon" routerLink="/rupers/elementos-rup">
                        <i class="icono mdi mdi-refresh"></i>
                        <div class="titulo">RUPERS</div>
                        <div class="subtitulo">
                            ELEMENTOS RUP
                        </div>
                        <div class="detalle">Edición de átomos y moléculas</div>
                    </div>
                </div>
            </div>
        </div>
    </plex-box>
</section>