<plex-layout main={{main}}>
    <plex-layout-main>
        <plex-title titulo="Novedades" main>
            <plex-button label="Registrar Novedad" type="primary" (click)="nuevo()"></plex-button>
        </plex-title>
        <fieldset>
            <div class="row mb-2">
                <div class="col-6 pr-0">
                    <plex-text label="Título" placeholder="Título de novedad" [(ngModel)]="titulo" name="titulo"
                               #filtroConceptID="ngModel" (ngModelChange)="loadData(false);"></plex-text>
                </div>
                <div class="col-6">
                    <plex-select label="Módulo" [(ngModel)]="modulo" name="modulo" [data]="listModulos"
                                 labelField="nombre + '(' + subtitulo + ')'" label="Seleccione Módulo" idField="_id"
                                 (ngModelChange)="loadData(false);">
                    </plex-select>
                </div>
            </div>
        </fieldset>
        <plex-scroll (change)="loadData(true)"></plex-scroll>
        <div class="row">
            <div class="col" *ngIf="listRegNovedades.length != 0;else mostrarVacio">
                <plex-list [striped]="true">
                    <plex-heading>
                        <b label>Titulo</b>
                        <b label>Fecha</b>
                        <b label>Módulo</b>
                        <b badge></b>
                    </plex-heading>
                    <ng-container *ngFor="let nov of listRegNovedades;index as i">
                        <plex-item (click)="verRegistro(nov)" [selected]="nov._id === regNov?._id">
                            <plex-label>
                                <span>{{nov.titulo? nov.titulo : 'N/D'}}</span>
                            </plex-label>
                            <plex-label>
                                <span>{{nov.fecha? (nov.fecha | date: 'dd/MM/yyyy') : 'N/D'}}</span>
                            </plex-label>
                            <plex-label>
                                <span>{{nov.modulo? nov.modulo.nombre+ ': ' + nov.modulo.subtitulo : 'N/D'}}</span>
                            </plex-label>
                            <plex-badge type="success" *ngIf="nov.activa"> Activa </plex-badge>
                            <plex-badge type="danger" *ngIf="!nov.activa"> Inactiva</plex-badge>
                        </plex-item>
                    </ng-container>
                </plex-list>
                <div *ngIf="finScroll" class="alert alert-warning text-left col-md">
                    <plex-label> No se encontraron más resultados</plex-label>
                </div>
            </div>
            <ng-template #mostrarVacio>
                <div class="alert alert-warning text-left col-md">
                    <b label>No hay novedades para mostrar</b>
                </div>
            </ng-template>
        </div>
    </plex-layout-main>

    <plex-layout-sidebar>
        <plex-title titulo={{titleABM}} size="sm" main>
            <plex-button label="Cancelar" type="danger" (click)="cerrarSidebar()" size="sm"></plex-button>
            <plex-button class="float-right" size="sm" type="success" label="Guardar" (click)="creaModificaNovedad()"
                         [validateForm]="formulario" [disabled]="!formulario.form.valid">
            </plex-button>
        </plex-title>
        <br>
        <form #formulario="ngForm">
            <div class="align-items-end" justify>
                <plex-text class="w-100 mr-4" required label="titulo" [(ngModel)]="regNov.titulo" name="titulo">
                </plex-text>
                <plex-bool label="Activa" [(ngModel)]="regNov.activa" type="slide" name="activo" class="float-left">
                </plex-bool>
            </div>
            <div class="align-items-end" justify>
                <plex-select class="w-100 mr-4" *ngIf="listModulos" [(ngModel)]="regNov.modulo" name="select"
                             [data]="listModulos" labelField="nombre + '' + subtitulo" label="Seleccione Módulo"
                             idField="_id">
                </plex-select>
                <plex-datetime label="fecha" [(ngModel)]="regNov.fecha" name="fecha" type="date" required>
                </plex-datetime>
            </div>
            <plex-text label="descripcion" [(ngModel)]="regNov.descripcion" name="descripcion" html="true" required>
            </plex-text>

            <plex-title justify titulo="Cargar Imagen" size="sm" class="mt-4">
                <input type="file" (change)="changeListener($event)" style="display:none;" #upload>
                <ng-container *ngIf="!waiting">
                    <plex-button type="primary" icon="image" class="btn-sm" title="Elegir Imagen"
                                 (click)="upload.click()">
                    </plex-button>
                </ng-container>
            </plex-title>
            <span *ngIf="waiting">
                <plex-loader class="app-waiting" type="ball-pulse-sync"></plex-loader>
                <plex-button type="danger" class="btn-sm" label="Cancelar" (click)="cancelarAdjunto()">
                </plex-button>
            </span>

            <div class="row">
                <plex-visualizador [files]="getFotos()" #visualizador></plex-visualizador>
                <ng-container *ngFor="let doc of regNov.imagenes; let i = index">
                    <div class="image hover">
                        <img [src]="createUrl(doc)" (click)="visualizador.open(i)">
                        <div class="x-mark" (click)="imageRemoved(doc)"><span class="close"></span></div>
                    </div>
                </ng-container>
            </div>
        </form>
    </plex-layout-sidebar>
</plex-layout>