<plex-layout main={{main}}>
    <plex-layout-main>
        <plex-title titulo="Novedades" main>
            <plex-button label="Registrar Novedad" type="primary" (click)="nuevo()"></plex-button>
        </plex-title>
        <fieldset>
            <div class="row">
                <div class="col-6 pr-0">
                    <plex-text label="Título" placeholder="Título de novedad" [(ngModel)]="titulo" name="titulo"
                               #filtroConceptID="ngModel" (ngModelChange)="loadData(false);"></plex-text>
                </div>
                <div class="col-6">
                    <plex-select label="Módulo" [(ngModel)]="modulo" name="modulo" [data]="listModulos"
                                 labelField="nombre" label="Seleccione Módulo" idField="_id"
                                 (ngModelChange)="loadData(false);">
                    </plex-select>
                </div>
            </div>
            <plex-scroll (change)="loadData(true)"></plex-scroll>
            <div class="row">
                <div class="col" *ngIf="listRegNovedades.length != 0;else mostrarVacio">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <td><strong>Número</strong></td>
                                <td><strong>Titulo</strong></td>
                                <td><strong>Fecha</strong></td>
                                <td><strong>Módulo</strong></td>
                                <td><strong>Estado</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nov of listRegNovedades;index as i" (click)="verRegistro(nov)">
                                <td>{{i + 1}}</td>
                                <td>{{nov.titulo}}</td>
                                <td>{{nov.fecha | date: 'dd/MM/yyyy'}}</td>
                                <td>{{nov.modulo.nombre}}</td>
                                <td>
                                    <plex-badge type="success" *ngIf="nov.activa">
                                        <plex-icon name="save"></plex-icon> Activa
                                    </plex-badge>
                                    <plex-badge type="danger" *ngIf="!nov.activa">
                                        <plex-icon name="save"></plex-icon> Inactiva
                                    </plex-badge>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col" *ngIf="mostrarVacio">
                    <ng-template #mostrarVacio>
                        <div class="sinDatos">
                            <label>No hay datos para mostrar</label>
                        </div>
                    </ng-template>
                </div>
            </div>
        </fieldset>
    </plex-layout-main>

    <plex-layout-sidebar>
        <plex-title titulo={{titleABM}} size="sm" main>
            <plex-button label="Cancelar" type="danger" (click)="cerrarSidebar()" size="sm"></plex-button>
            <plex-button class="float-right" size="sm" type="success" label="Guardar" (click)="creaModificaNovedad()"
                         [validateForm]="formulario" [disabled]="!formulario.form.valid">
            </plex-button>
        </plex-title>
        <br>
        <form #formulario="ngForm">
            <div class="align-items-end" justify>
                <plex-text class="w-100 mr-4" required label="titulo" [(ngModel)]="regNov.titulo" name="titulo">
                </plex-text>
                <plex-bool label="Activa" [(ngModel)]="regNov.activa" type="slide" name="activo" class="float-left">
                </plex-bool>
            </div>
            <div justify>
                <plex-select class="w-50" *ngIf="listModulos" required [(ngModel)]="regNov.modulo" name="select"
                             [data]="listModulos" labelField="nombre" label="Seleccione Módulo" idField="_id">
                </plex-select>
                <plex-datetime label="fecha" [(ngModel)]="regNov.fecha" name="fecha" type="date" required>
                </plex-datetime>
            </div>
            <plex-text label="descripcion" [(ngModel)]="regNov.descripcion" name="descripcion" html="true" required>
            </plex-text>

            <plex-title justify titulo="Cargar Imagen" size="sm" class="mt-4">
                <input type="file" (change)="changeListener($event)" style="display:none;" #upload>
                <ng-container *ngIf="!waiting">
                    <plex-button type="primary" icon="image-plus" class="btn-sm" title="Elegir Imagen"
                                 (click)="upload.click()">
                    </plex-button>
                </ng-container>
            </plex-title>
            <span *ngIf="waiting">
                <plex-loader class="app-waiting" type="ball-pulse-sync"></plex-loader>
                <plex-button type="danger" class="btn-sm" label="Cancelar" (click)="cancelarAdjunto()">
                </plex-button>
            </span>

            <div class="row">
                <plex-visualizador [files]="fotos" #visualizador></plex-visualizador>
                <ng-container *ngFor="let doc of fotos; let i = index">
                    <a>
                        <div class="image hover">
                            <ng-container *ngIf="!esImagen(doc.ext)">{{ doc.ext }}</ng-container>
                            <img [src]="createUrl(doc)" alt="" *ngIf="esImagen(doc.ext)" (click)="visualizador.open(i)">
                        </div>
                    </a>
                </ng-container>
            </div>
        </form>
    </plex-layout-sidebar>
</plex-layout>